table {
    border: 1px solid #000;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #000;
    padding-right: 50px;
    padding-left: 10PX;
    text-align: left;
}

tfoot td {
    font-weight: bold;
}
